# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Weekly Engineering Reviews
author: Meagan Waller

navbar-links:
  About this site: "about"
  Resources:
    - Claude Code Configuration: "https://github.com/meaganewaller/.dotfiles/blob/main/home/.claude"
    - Workflow Scenarios: "https://github.com/meaganewaller/.dotfiles/blob/main/home/.claude/docs/workflow-scenarios.md"
    - Telemetry Architecture: "https://github.com/meaganewaller/.dotfiles/blob/main/home/.claude/docs/telemetry-architecture.md"
  
avatar: "/assets/img/avatar-icon.jpg"
round-avatar: true

title-on-all-pages: true
excerpt_length: 100

page-col: "#FFFFFF"
text-col: "#404040"
link-col: "#008AFF"
hover-col: "#0085A1"
navbar-col: "#EAEAEA"
navbar-text-col: "#404040"
navbar-border-col: "#DDDDDD"
footer-col: "#EAEAEA"
footer-text-col: "#777777"
footer-link-col: "#404040"
footer-hover-col: "#0085A1"

# Ruby Date Format to show dates of posts
date_format: "%B %-d, %Y"

timezone: "America/New_York"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  typographic_symbols:
    ndash: "--"
    mdash: "---"

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "review"
  -
    scope:
      path: "" # any file that's not a post will be a "page" layout by default
    values:
      layout: "page"

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/

plugins:
  - jekyll-paginate
  - jekyll-sitemap